#container {
    height: 400px;
    display: flex;
    align-items: flex-end;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar {
    width: 40px;
    background-color: black;
    margin: 1px;
}

.sub-but{
    background-color : rgb(49, 50, 92);
    color : white;
    border : none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius : 2px;
    cursor : pointer;
    margin-right : 6px;
    transition: opacity 0.15s;
    vertical-align: top;
}
.sub-but:hover{
    opacity : 0.8;
}
.sub-but:active{
    opacity : 0.5;
}